#welcome-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top: 20%;
}

#navbar {
  flex-direction: row;
}

#nav-list {
  flex-direction: row;
}
